<select id="c1" class="btn dropdown-toggle mt-2">
        <option value=""></option>
        <option value="county">County</option>
        <option value="municipality_name">Municipality Name</option>
        <option value="block">Block</option>
        <option value="lot">Lot</option>
        <option value="qualifier">Qualifier</option>
        <option value="owners_name">Owner's Name</option>
        <option value="owners_city">Owner's City</option>
        <option value="owners_state">Owner's State</option>
        <option value="owners_zip">Owner's Zip</option>
        <option value="owners_mailing_address">Owner's Mailing Address</option>
        <option value="city">City</option>
</select>

<select id="c2" class="btn dropdown-toggle mt-2">
        <option value=""></option>
        <option value="county">County</option>
        <option value="municipality_name">Municipality Name</option>
        <option value="block">Block</option>
        <option value="lot">Lot</option>
        <option value="qualifier">Qualifier</option>
        <option value="owners_name">Owner's Name</option>
        <option value="owners_city">Owner's City</option>
        <option value="owners_state">Owner's State</option>
        <option value="owners_zip">Owner's Zip</option>
        <option value="owners_mailing_address">Owner's Mailing Address</option>
        <option value="city">City</option>
</select>

<select id="c3" class="btn dropdown-toggle mt-2">
        <option value=""></option>
        <option value="county">County</option>
        <option value="municipality_name">Municipality Name</option>
        <option value="block">Block</option>
        <option value="lot">Lot</option>
        <option value="qualifier">Qualifier</option>
        <option value="owners_name">Owner's Name</option>
        <option value="owners_city">Owner's City</option>
        <option value="owners_state">Owner's State</option>
        <option value="owners_zip">Owner's Zip</option>
        <option value="owners_mailing_address">Owner's Mailing Address</option>
        <option value="city">City</option>
</select>