{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
{% include "sidebar.html" %}
<div class="main">
<div id="uploadControls" class="container">
    <div class="row" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#373944; padding: 15px; margin-bottom: 15px; margin-left: -50px;border-radius: 10px;">
      
        <div class="col-sm-4">
 
  </div>
  <div class="col-sm-4">

        <div class="card" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 30rem; margin-bottom: 15px; margin-left: -65px; background-color: #E9ECEF">
            <div class="card-body">
      
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  <label class="form-check-label" for="inlineCheckbox1">1</label>
                </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">2</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
                <label class="form-check-label" for="inlineCheckbox3">3</label>
              </div>
                  
            </div>
            <button id="setCSVType"class="btn btn-outline" onclick="setCSVType()">Create CSV Mapping</button>
          </div>
            
      </div>
    </div>
  </div>
        </div>
        </div>

<div class="main">
{% include "inputRows.html" %}
</div>


        </div>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}