{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<section class="hero is-primary is-bold is-large">
  <div class="hero-body">
    <div class="csv-submit-box">
      <h1>Submit CSV</h1>
      <div class="upload-btn-wrapper">
          <button id="upload" class="btn btn-outline margin-top-15 margin-bottom-15 "> Upload CSV </button>
          <input type="file" id="fileInput" onchange="handleImage(event)"></input>
               
          <div>
    <button id="submitData"class="btn btn-outline margin-top-15 margin-bottom-15" onclick="submitData()">Submit Data</button>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
