<div id="inputRows" class="">

<div  class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">County</span>
    </div>
    <input type="text" class="form-control" placeholder="County" aria-label="column-name" aria-describedby="basic-addon1">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Municipality Name</span>
    </div>
    <input type="text" class="form-control" placeholder="Municipality Name" aria-label="column-name" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Block</span>
    </div>
    <input type="text" class="form-control" placeholder="Block" aria-label="column-name" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Lot</span>
    </div>
    <input type="text" class="form-control" placeholder="Lot" aria-label="column-name" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Qualifier</span>
    </div>
    <input type="text" class="form-control" placeholder="Qualifier" aria-label="column-name" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Owner's Name</span>
    </div>
    <input type="text" class="form-control" placeholder="Owner's Name" aria-label="column-name" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Owner's City</span>
    </div>
    <input type="text" class="form-control" placeholder="Owner's City" aria-label="column-name" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Owner's State</span>
      </div>
      <input type="text" class="form-control" placeholder="Owner's State" aria-label="column-name" aria-describedby="basic-addon1">
    </div>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Owner's Zip</span>
      </div>
      <input type="text" class="form-control" placeholder="Owner's Zip" aria-label="column-name" aria-describedby="basic-addon1">
    </div>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Owner's Mailing Address</span>
      </div>
      <input type="text" class="form-control" placeholder="Owner's Mailing Address" aria-label="column-name" aria-describedby="basic-addon1">
    </div>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">City</span>
      </div>
      <input type="text" class="form-control" placeholder="City" aria-label="column-name" aria-describedby="basic-addon1">
    </div>
  </div>