{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}

{% include "sidebar.html" %}

  <div class="main">
    <div class="container">
        <div id="queryControls"></div>


        <button class="btn btn-successs" onclick="submitQuery()">Request All Records</button>

          <div id="gray-spacer" style="height:500px;background-color: lightgray"></div>
        </div>
      <div id="table"></div>


{% endblock %}

</div>
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
