<div class='jumbotron'>
    <h5 style="padding:5px;">Query Selector</h5>

    <select class="btn dropdown-toggle">
            <option value="name">Name</option>
            <option value="owner">Owner</option>
            <option value="address">Address</option>
            <option value="city">City</option>
    </select>
    <select class="btn dropdown-toggle">
            <option value="name">And</option>
            <option value="owner">Or</option>
            <option value="">Not</option>
            <option value="audi">Like</option>
    </select>
    <select class="btn dropdown-toggle">
            <option value="name">Name</option>
            <option value="owner">Owner</option>
            <option value="address">Address</option>
            <option value="city">City</option>
            <option value="name">And</option>
            <option value="owner">Or</option>
            <option value="">Not</option>
            <option value="audi">Like</option>
    </select>
    <select class="btn dropdown-toggle">
            <option value="name">Name</option>
            <option value="owner">Owner</option>
            <option value="address">Address</option>
            <option value="city">City</option>
            <option value="name">And</option>
            <option value="owner">Or</option>
            <option value="">Not</option>
            <option value="audi">Like</option>
    </select>
    <select class="btn dropdown-toggle">
        <option value="none"></option>    
        <option value="name">Name</option>
        <option value="owner">Owner</option>
        <option value="address">Address</option>
        <option value="city">City</option>
        <option value="name">And</option>
        <option value="owner">Or</option>
        <option value="">Not</option>
        <option value="audi">Like</option>
</select>
<select class="btn dropdown-toggle">
        <option value="none"></option>
        <option value="name">Name</option>
        <option value="owner">Owner</option>
        <option value="address">Address</option>
        <option value="city">City</option>
        <option value="">Not</option>
</select>
    <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Like</span>
                </div>
        <input type="text" class="form-control" placeholder="..." aria-label="column-name" aria-describedby="basic-addon1">
      </div>
        <button class="btn" id="submitQuery" onclick="submitQuery()">
                Submit
        </button>
</div>

        
