<div class='jumbotron'>
    <h5 style="padding:5px;">Query Selector</h5>

    <select class="btn dropdown-toggle">
            <option value="name">County</option>
            <option value="owner">Municipality Name</option>
            <option value="address">Block</option>
            <option value="city">Lot</option>
            <option value="city">Qualifier</option>
            <option value="city">Owner's Name</option>
            <option value="city">Owner's City</option>
            <option value="city">Owner's State</option>
            <option value="city">Owner's Zip</option>
            <option value="city">Owner's Mailing Address</option>
            <option value="city">City</option>
    </select>
    <select class="btn dropdown-toggle">
            <option value="and">And</option>
            <option value="or">Or</option>
            <option value="not">Not</option>
            <option value="like">Like</option>
            <option value="greater">></option>
            <option value="less"><</option>
    </select>
    <select class="btn dropdown-toggle">
        <option value="name">County</option>
        <option value="owner">Municipality Name</option>
        <option value="address">Block</option>
        <option value="city">Lot</option>
        <option value="city">Qualifier</option>
        <option value="city">Owner's Name</option>
        <option value="city">Owner's City</option>
        <option value="city">Owner's State</option>
        <option value="city">Owner's Zip</option>
        <option value="city">Owner's Mailing Address</option>
        <option value="city">City</option>
        <option value="and">And</option>
        <option value="or">Or</option>
        <option value="not">Not</option>
        <option value="like">Like</option>
        <option value="greater">></option>
        <option value="less"><</option>
    </select>
    <select class="btn dropdown-toggle">
        <option value="none"></option>
        <option value="name">County</option>
        <option value="owner">Municipality Name</option>
        <option value="address">Block</option>
        <option value="city">Lot</option>
        <option value="city">Qualifier</option>
        <option value="city">Owner's Name</option>
        <option value="city">Owner's City</option>
        <option value="city">Owner's State</option>
        <option value="city">Owner's Zip</option>
        <option value="city">Owner's Mailing Address</option>
        <option value="city">City</option>
        <option value="and">And</option>
        <option value="or">Or</option>
        <option value="not">Not</option>
        <option value="like">Like</option>
        <option value="greater">></option>
        <option value="less"><</option>
    </select>
    <select class="btn dropdown-toggle">
        <option value="none"></option>
        <option value="name">County</option>
        <option value="owner">Municipality Name</option>
        <option value="address">Block</option>
        <option value="city">Lot</option>
        <option value="city">Qualifier</option>
        <option value="city">Owner's Name</option>
        <option value="city">Owner's City</option>
        <option value="city">Owner's State</option>
        <option value="city">Owner's Zip</option>
        <option value="city">Owner's Mailing Address</option>
        <option value="city">City</option>
        <option value="and">And</option>
        <option value="or">Or</option>
        <option value="not">Not</option>
        <option value="like">Like</option>
        <option value="greater">></option>
        <option value="less"><</option>
</select>
<select class="btn dropdown-toggle">
        <option value="none"></option>
        <option value="and">And</option>
        <option value="or">Or</option>
        <option value="not">Not</option>
        <option value="like">Like</option>
        <option value="greater">></option>
        <option value="less"><</option>
</select>
    <div class="input-group mb-3 mt-3">
                <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Like</span>
                </div>
        <input type="text" class="form-control" placeholder="..." aria-label="column-name" aria-describedby="basic-addon1">
      </div>
        <button class="btn" id="submitQuery" onclick="submitQuery()">
                Submit
        </button>
</div>

        
