<div class='jumbotron'>
    <h1 style="padding:5px;">Query Selector</h1>
        <form action="submit">
    <select>
            <option value="name">Name</option>
            <option value="owner">Owner</option>
            <option value="address">Address</option>
            <option value="city">City</option>
    </select>
    <select>
            <option value="name">And</option>
            <option value="owner">Or</option>
            <option value="">Not</option>
            <option value="audi">Like</option>
    </select>
    <select>
            <option value="name">Name</option>
            <option value="owner">Owner</option>
            <option value="address">Address</option>
            <option value="city">City</option>
            <option value="name">And</option>
            <option value="owner">Or</option>
            <option value="">Not</option>
            <option value="audi">Like</option>
    </select>
    <select>
            <option value="name">Name</option>
            <option value="owner">Owner</option>
            <option value="address">Address</option>
            <option value="city">City</option>
            <option value="name">And</option>
            <option value="owner">Or</option>
            <option value="">Not</option>
            <option value="audi">Like</option>
    </select>
    <input type='submit' value='Submit' formmethod="GET" formaction="/query">
</form>
</div>