{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
{% include "sidebar.html" %}
<div class="main">
<div id="uploadControls" class="container">
    <div class="row" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#373944; padding: 15px; margin-bottom: 15px; margin-left: -50px;border-radius: 10px;">
      
        <div class="col-sm-4">
  <div class="card" style="width: 15rem; margin-bottom: 15px; background-color: #E9ECEF;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  ">
    <div class="card-body">
      
      <div class="upload-btn-wrapper" >
        <button id="upload" class="btn btn-warning"> Upload CSV </button>
        <input type="file" id="fileInput"></input>
        <div style="height: 44px; "></div>
    </div>
    </div>
  </div>
  </div>
  <div class="col-sm-4">

  <div class="card" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 30rem; margin-bottom: 15px; margin-left: -65px; background-color: #E9ECEF">
      <div class="card-body">

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">1</label>
          </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
          <label class="form-check-label" for="inlineCheckbox3">3</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">5</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
          <label class="form-check-label" for="inlineCheckbox3">6</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">7</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">8</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">9</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
          <label class="form-check-label" for="inlineCheckbox3">10</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">11</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">12</label>
        </div>
            
      </div>
      <button id="setCSVType"class="btn btn-outline" onclick="setCSVType()">Set CSV Origin</button>
    </div>
  </div>
  <div class="card" style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 15rem; margin-bottom: 15px; margin-left: -150; background-color: #E9ECEF">
      <div class="card-body">
      <div>
          <button id="submitData"class="btn btn-outline-success " onclick="submitData()">Submit Data</button>
        </div>
        </div>
        </div>

</div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">County</span>
    </div>
    <input type="text" class="form-control" placeholder="County" aria-label="column-name" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Municipality Name</span>
    </div>
    <input type="text" class="form-control" placeholder="Municipality Name" aria-label="column-name" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Block</span>
    </div>
    <input type="text" class="form-control" placeholder="Block" aria-label="column-name" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Lot</span>
    </div>
    <input type="text" class="form-control" placeholder="Lot" aria-label="column-name" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Qualifier</span>
    </div>
    <input type="text" class="form-control" placeholder="Qualifier" aria-label="column-name" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Owner's Name</span>
    </div>
    <input type="text" class="form-control" placeholder="Owner's Name" aria-label="column-name" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Owner's City</span>
    </div>
    <input type="text" class="form-control" placeholder="Owner's City" aria-label="column-name" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Owner's State</span>
      </div>
      <input type="text" class="form-control" placeholder="Owner's State" aria-label="column-name" aria-describedby="basic-addon1">
    </div>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Owner's Zip</span>
      </div>
      <input type="text" class="form-control" placeholder="Owner's Zip" aria-label="column-name" aria-describedby="basic-addon1">
    </div>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Owner's Mailing Address</span>
      </div>
      <input type="text" class="form-control" placeholder="Owner's Mailing Address" aria-label="column-name" aria-describedby="basic-addon1">
    </div>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">City</span>
      </div>
      <input type="text" class="form-control" placeholder="City" aria-label="column-name" aria-describedby="basic-addon1">
    </div>
</div>
</div>




</div>
<div class="main">
<table  id="table"></table>
</div>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}